# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Cosas de R
*.Rhistory

# Cosas de tensorboard
/runs/
*/runs/
/src/models/runs
reports_backup/
reports/
reports/lsa/component_vobab_nodos.pkl
reports/lsa/component_vocab_infomap.pkl
reports/lsa/component_vocab_louvain.pkl
reports/lsa/lsa_infomap_data.npz
reports/lsa/lsa_louvain_data.npz
reports/lsa/lsa_node_data.npz
reports/lsa/lsa_node_similarity_matrix.npz
reports_backup/.gitkeep
reports_backup/distancias.pdf
reports_backup/distancias.png
reports_backup/distancias.svg
reports_backup/ktemporal.png
reports_backup/overlap_disease_viejo.png
reports_backup/results_5_7.pickle
reports_backup/year_initial.png
reports_backup/analisis_comunidades/barras_rol_cartografico_infomap_no_berts.png
reports_backup/analisis_comunidades/barras_rol_cartografico_infomap_todos.png
reports_backup/analisis_comunidades/barras_rol_cartografico_infomap.png
reports_backup/analisis_comunidades/barras_rol_cartografico_louvain_todos.png
reports_backup/analisis_comunidades/barras_rol_cartografico_louvain.png
reports_backup/analisis_comunidades/distribucion_berts.png
reports_backup/analisis_comunidades/distribucion_tamaños_sharex.png
reports_backup/analisis_comunidades/distribucion_tamaños.png
reports_backup/analisis_comunidades/ego_networks_vs_comunidades.png
reports_backup/analisis_comunidades/grado_gda_infomap.csv
reports_backup/analisis_comunidades/grado_gda_louvain.csv
reports_backup/analisis_comunidades/histogramas_overlap.png
reports_backup/analisis_comunidades/inclusion_berts_infomap.png
reports_backup/analisis_comunidades/inclusion_berts_louvain.png
reports_backup/analisis_comunidades/interseccion_infomap.png
reports_backup/analisis_comunidades/mapeos_vs_comunidades.png
reports_backup/analisis_comunidades/marginales_rol_cartografico_berts_infomap.png
reports_backup/analisis_comunidades/matrices_overlap.png
reports_backup/analisis_comunidades/modularidad.png
reports_backup/analisis_comunidades/rol_cartografico_berts_infomap_barras_interactivo.html
reports_backup/analisis_comunidades/rol_cartografico_berts_infomap_interactivo.html
reports_backup/analisis_comunidades/rol_cartografico_no_berts_infomap_barras_interactivo.html
reports_backup/analisis_comunidades/rol_cartografico_no_berts_infomap_interactivo.html
reports_backup/analisis_comunidades/scatter_rol_cartografico_infomap.png
reports_backup/analisis_comunidades/scatter_rol_cartografico_louvain.png
reports_backup/analisis_comunidades/test_fisher_pathways_infomap.csv
reports_backup/analisis_comunidades/torta_berts.png
reports_backup/analisis_comunidades/tortas_bert.png
reports_backup/figures/.gitkeep
reports_backup/figures/rsage_random_5_all.png
reports_backup/figures/rsage_random_5_gda_only.png
reports_backup/figures/rsage_random_10_all.png
reports_backup/figures/rsage_random_10_gda_only.png
reports_backup/figures/rsage_random_50_all.png
reports_backup/figures/rsage_random_50_gda_only.png
reports_backup/figures/rsage_random_100_all.png
reports_backup/figures/rsage_random_100_gda_only.png
reports_backup/figures/rsage_random_500_all.png
reports_backup/figures/rsage_random_500_gda_only.png
reports_backup/figures/semantic_analysis_diagram.png
reports_backup/figures/lsa/evr_plot.png
reports_backup/jaccard_gene_similarity/index_matrices.txt
reports_backup/jaccard_gene_similarity/jaccard_overlap_infomap.csv
reports_backup/jaccard_gene_similarity/jaccard_overlap_louvain.csv
reports_backup/jaccard_gene_similarity/jaccard_sparse_matrix_2.npz
reports_backup/jaccard_gene_similarity/jaccard_sparse_matrix.npz
reports_backup/jaccard_gene_similarity/overlap_sparse_matrix.npz
reports_backup/lsa/component_vobab_nodos.pkl
reports_backup/lsa/component_vobab.pkl
reports_backup/lsa/component_vocab_infomap.pkl
reports_backup/lsa/component_vocab_louvain.pkl
reports_backup/lsa/lsa_infomap_data.npz
reports_backup/lsa/lsa_louvain_data.npz
reports_backup/lsa/lsa_node_data.npz
reports_backup/lsa/lsa_node_similarity_matrix.npz
reports_backup/lsa/lsa_similarity_matrix.npz
reports_backup/lsa/similaridad_todos.png
reports_backup/lsa/svd_evr_plot.png
reports_backup/lsa/vectorized_data.npz
reports_backup/lsa/vectorized_data.txt
reports_backup/similarity_experiments/gridsearch_tfidf_extended_newgraph.csv
reports_backup/similarity_experiments/run_0.csv
reports_backup/similarity_experiments/run_0.png
reports_backup/similarity_experiments/run_1.csv
reports_backup/similarity_experiments/run_1.png
reports_backup/similarity_experiments/run_best.csv
reports_backup/similarity_experiments/run_best.png
reports_backup/tfidf/dtmatrix_range11_min2_max3_tokesplit_nomaxfeat.npz
reports_backup/tfidf/ejemplo_pvalor.png
reports_backup/tfidf/entropia_random_infomap_bi.txt
reports_backup/tfidf/entropia_random_infomap_mono.txt
reports_backup/tfidf/entropia_random_infomap_tri.txt
reports_backup/tfidf/entropia_random_louvain_bi.txt
reports_backup/tfidf/entropia_random_louvain_mono.txt
reports_backup/tfidf/entropia_random_louvain_tri.txt
reports_backup/tfidf/entropias_vs_random_10valores.png
reports_backup/tfidf/infomap_analysis_checkpoint.pkl
reports_backup/tfidf/infomap_random_entropia.txt
reports_backup/tfidf/louvain_analysis_checkpoint.pkl
reports_backup/tfidf/louvain_random_entropia.txt
reports_backup/tfidf/pvalor_ejemplo.png
reports_backup/tfidf/pvalor_tamaño_mono.png
reports_backup/tfidf/pvalues_bi_lin.png
reports_backup/tfidf/pvalues_bi_log.png
reports_backup/tfidf/pvalues_mas10_bi.png
reports_backup/tfidf/pvalues_mas10_mono.png
reports_backup/tfidf/pvalues_mas10_tri.png
reports_backup/tfidf/pvalues_mono_lin.png
reports_backup/tfidf/pvalues_mono_log.png
reports_backup/tfidf/pvalues_tri_lin.png
reports_backup/tfidf/pvalues_tri_log.png
reports_backup/tfidf/pvalues.png
reports_backup/tfidf/s_vs_random_2curvas_bigramas.png
reports_backup/tfidf/s_vs_random_2curvas_punto_2_bigramas.png.png
reports_backup/tfidf/s_vs_random_2curvas_punto_2_trigramas.png
reports_backup/tfidf/s_vs_random_2curvas_punto_2.png.png
reports_backup/tfidf/s_vs_random_2curvas_trigramas.png
reports_backup/tfidf/s_vs_random_2curvas.png
reports_backup/tfidf/s_vs_random_2puntos_curva_bigramas.png
reports_backup/tfidf/s_vs_random_2puntos_curva_trigramas.png
reports_backup/tfidf/s_vs_random_2puntos_curva.png
reports_backup/tfidf/s_vs_random_2scatter_bigramas.png
reports_backup/tfidf/s_vs_random_2scatter_trigramas.png
reports_backup/tfidf/s_vs_random_2scatter.png
reports_backup/tfidf/s_vs_random_4curvas_bigramas.png
reports_backup/tfidf/s_vs_random_4curvas_punto_2.png
reports_backup/tfidf/s_vs_random_4curvas_punto_bigramas.png
reports_backup/tfidf/s_vs_random_4curvas_punto_trigramas.png
reports_backup/tfidf/s_vs_random_4curvas_punto.png
reports_backup/tfidf/s_vs_random_4curvas_trigramas.png
reports_backup/tfidf/s_vs_random_4curvas.png
reports_backup/tfidf/s_vs_random_4scatter_bigramas.png
reports_backup/tfidf/s_vs_random_4scatter_trigramas.png
reports_backup/tfidf/s_vs_random_4scatter.png
reports_backup/tfidf/s_vs_random_scatter_bi.png
reports_backup/tfidf/s_vs_random_scatter_mono.png
reports_backup/tfidf/s_vs_random_scatter_tri.png
reports_backup/tfidf/sim_media_bigramas.png
reports_backup/tfidf/sim_media_monogramas.png
reports_backup/tfidf/sim_media_trigramas.png
reports_backup/tfidf/sim.png
reports_backup/tfidf/similaridad_todos.png
reports_backup/tfidf/tabla_ejemplo_pvalores.png
reports_backup/*
reports/*
src/NLP_analysis/ipython-input-12-profile
src/NLP_analysis/profile.json
