wheel
click==8.0.3
deepsnap==0.2.1
goatools==1.2.3
matplotlib==3.5.1
matplotlib_venn==0.11.7
networkx==3.0
nltk==3.7
numpy==1.23.5
pandas==1.5.3
plotly==5.9.0
pydot==1.4.2
pygraphviz==1.10
python-dotenv==1.0.0
python_igraph==0.9.11
ratelimit==2.2.1
regex==2022.8.17
Requests==2.29.0
scikit_learn==1.1.1
scipy==1.8.0
seaborn==0.11.2
setuptools==59.6.0
statsmodels==0.13.2
sympy==1.11.1
tomli==2.0.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cpu
torch_geometric==2.3.1
--find-links https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_scatter==2.1.1
torch_sparse==0.6.17+pt20cpu
umap_learn==0.5.3
wordcloud==1.8.2.2
torchviz==0.0.2
pyg-lib==0.2.0+pt20cpu
pyarrow
fastparquet
captum
